<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <title>Supplier Home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="#" th:href="@{/}">Add Product</a>
            <br><br>
            <ul>
                <li><a  th:href="@{/supplier/loadHome}">Home</a></li>

                <li><a class="active" th:href="@{/product/loadProductForm}">Add New Product</a></li>

                <li><a th:href="@{/product/viewproducts}">View All Products</a></li>

                <li><a th:href="@{#}">Edit My Products</a></li>
                <li class="nav-item" sec:authority="isAuthenticated()">
                    <a class="nav-link"  th:href="@{/logout}">
                        <i class="menu-icon mdi mdi-restart"></i>
                        <span class="menu-title">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br><br><br><br><br>
            <!-- success message -->
            <div th:if="${param.success}">
                <br><br><br><br><br><div class="alert alert-info">You've successfully added a product!</div>
            </div>


            <form th:action="@{/product/saveProduct}" method="post" th:object="${products}">
                <div class="form-group">
                    <label class="control-label" for="name">  Name </label>
                    <input id="name" class="form-control" th:field="*{name}"
                           required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="quantity"> Quantity </label> <input
                        id="quantity" class="form-control" th:field="*{quantity}"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="price"> Price </label> <input
                        id="price" class="form-control" th:field="*{price}" required
                        autofocus="autofocus" />
<br><br><br>
                    <div class="form-group">
                        <button type="submit" align="center" class="btn btn-success">add Product</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>